<div ng-controller="LoginCtrl as login">
  <form ng-submit="login.authenticateFromHome(login.credentials)" novalidate>

    <div class="form-group">
      <input tabindex="1" type="text" class="form-control input-sm" placeholder="Email"
             ng-model="login.credentials.email"
             required/>
    </div>

    <div class="form-group">
      <input tabindex="2" type="password" class="form-control input-sm" placeholder="Password"
             ng-model="login.credentials.password" required/>
      <a ui-sref="home.account.forgot-password">
      <i>
        <small>Forgot password?</small>
      </i>
    </a>
    </div>

    <div class="text-right form-group">
      <input type="submit" class="btn btn-primary" value="Login"/>
    </div>
  </form>

</div>
