<div class="row" ng-controller="AccountCtrl as account" ng-init="account.validateResetToken(account.guid)">
  <div class="col-md-6 col-md-offset-3">
    <h1>Password Reset</h1>

    <div ng-show="account.state === account.states.error">
      <p>The link provided is invalid.</p>
    </div>

    <div ng-show="account.state === account.states.ok">
      <p>Please enter your new password below.</p>

      <p class="alert alert-danger" ng-show="account.state === account.states.invalidEmail">
        The email you have entered is invalid
      </p>

      <form novalidate class="gutter" name="pr"
            ng-submit="account.resetPassword(account.guid ,account.credentials.password)">
        <div class="form-group" ng-class="{'has-error': !pr.password.$pristine && pr.password.$invalid}">
          <input required type="password" class="form-control" placeholder="Password" name="password"
                 ng-model="account.credentials.password"/>
          <span class="help-block" ng-show="!pr.password.$pristine && pr.password.$invalid">
            Password is required
          </span>
        </div>
        <div class="form-group text-right">
          <input type="submit" class="btn btn-primary" value="Reset Password"/>
        </div>
      </form>
    </div>

    <div ng-show="account.state === account.states.resetPasswordSuccess">
      <p>Your password has been reset. Please login below to continue.</p>
      <div ng-include="'app/authentication/views/login-full.html'"></div>
    </div>
  </div>
</div>
