<div ng-controller="OutstandingItemsCtrl as osi">
  <h2 style="margin-top: 0">Items owed to you</h2>

  <div class="help-block" ng-show="osi.transactions.owed.length === 0">
    <i>No one currently owes you anything</i>
  </div>

  <div class="gutter owed-item" ng-repeat="record in osi.transactions.owed">

    <div class="panel panel-default gutter-sm">
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-8">
            <strong>
              {{record.name}}
              <small>({{record.transactions.length}} items)</small>
            </strong>

            <div>
              <small class="text-muted">
                <i> Last reminder: {{record.lastReminded ? (record.lastReminded | Moment: 'LL') : 'Never'}}</i>
              </small>
            </div>
          </div>
          <div class="col-sm-4 text-right">
            <a ng-if="record.canRemind"
               href="" class="remind-button" ng-click="osi.remind(record, record.owerId)">
              <i class="ion-email"></i>
            </a>
          </div>
        </div>
      </div>
      <table class="table table-condensed table-outstanding-items">
        <tr ng-repeat="transaction in record.transactions">
          <td style="width: 20px" class="text-center">
            <div yom-transaction-indicator="" data-status="{{transaction.status}}"></div>
          </td>
          <td>
            <input data-yom-focus-on-callback="osi.updateTransaction(transaction)"
              yom-focus-on="transaction.showEdit"
              ng-show="transaction.showEdit"
              type="text"
              class="inline-text-input"
              ng-model="transaction.value"/>
            <span ng-show="!transaction.showEdit" class="item">{{transaction.value}}</span>
          </td>
          <td class="text-right">
            <a class="action-link" href=""
               ng-show="transaction.status !== osi.transactionStatus.completed && !transaction.showEdit"
               ng-click="osi.editTransaction(transaction)" title="Edit">
              <i class="ion-edit"></i>
            </a>
            <a class="action-link" href=""
               ng-show="transaction.status === osi.transactionStatus.completed"
               ng-click="osi.reactivate(transaction, transaction.id)" title="Reactivate">
              <i class="glyphicon glyphicon-repeat"></i>
            </a>
            <a class="action-link" href=""
               ng-show="transaction.status !== osi.transactionStatus.completed"
               ng-click="osi.remove(transaction.id, record)" title="Remove">
              <i class="ion-trash-b"></i>
            </a>
            <a class="action-link" href="" ng-click="osi.confirm(record.id, transaction.id)"
               title="Confirm Returned Item">
              <i class="ion-checkmark"></i>
            </a>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <hr/>

  <h2>Items owed by you</h2>

  <div class="help-block" ng-show="osi.transactions.owe.length === 0">
    <i>You currently do not owe anything</i>
  </div>

  <div class="gutter owed-item" ng-repeat="record in osi.transactions.owe">
    <div class="panel panel-default gutter-sm">
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-12">
            <strong>
              {{record.name}}
              <small>({{record.transactions.length}} items)</small>
            </strong>
          </div>
        </div>
      </div>
      <table class="table table-condensed table-outstanding-items">
        <tr ng-repeat="transaction in record.transactions">
          <td width="20px" style="vertical-align: middle">
            <div yom-transaction-indicator="" data-status="{{transaction.status}}"></div>
          </td>
          <td style="vertical-align: middle">
            <span>{{transaction.value}}</span>
          </td>
          <td class="text-right">
            <a class="action-link" href="" ng-click="osi.returnItem(record.id, transaction.identifier)"
               title="Confirm Returned Item">
              <i class="ion-checkmark"></i>
            </a>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
