<div ng-controller="TransactionCtrl as trans" ng-init="trans.getReminderList(trans.completeId)">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <h1>Outstanding Items</h1>

      <div ng-show="trans.state === trans.states.loading">
        Completing request...
      </div>

      <div ng-show="trans.state === trans.states.error">
        {{trans.error}}
      </div>

      <div ng-show="trans.state === trans.states.ok">
        <p>Click on the checkmark on the right to mark the item completed.</p>
        <div class="panel panel-default">
          <table class="table table-outstanding-items">
            <tr ng-repeat="transaction in trans.transactions">
              <td style="vertical-align: middle">{{transaction.value}}</td>
              <td class="text-right" style="vertical-align: middle">
                <a href="" ng-click="trans.complete(transaction.identifier)" class="action-link">
                  <i class="ion-checkmark"></i>
                </a>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row gutter-lg" ng-show="trans.showSignUpForm">
    <div class="col-lg-6 col-lg-offset-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <h2>Do people owe you things?</h2>

          <p>Keep track of who owes you what by signing up below.</p>

          <div ng-include="'app/authentication/views/register.html'"></div>
        </div>
      </div>
    </div>
  </div>
</div>
