<div class="panel panel-default" ng-controller="TransactionCtrl as transaction">
  <div class="panel-body">
    <form ng-submit="transaction.create(transaction.newTrans)" novalidate>
      <div class="form-group">
        <label>Type</label>
        <select class="form-control" name="type" ng-model="transaction.newTrans.type"
                ng-options="t for t in transaction.transactionType" required>
        </select>
      </div>

      <div class="form-group">
        <label>Item</label>
        <input type="text" class="form-control" ng-model="transaction.newTrans.value" required/>
      </div>

      <div class="form-group">
        <label>Ower Name</label>
        <input type="text" class="form-control" ng-model="transaction.newTrans.owerName" required/>
      </div>

      <div class="form-group">
        <label>Ower Email</label>
        <input type="text" class="form-control" ng-model="transaction.newTrans.owerEmail" required/>
      </div>

      <div class="form-group text-right">
        <input type="submit" value="Create" class="btn btn-primary"/>
      </div>
    </form>
  </div>
</div>
