<div ng-controller="OutstandingItemsCtrl as osi">

  <h4 style="margin-top: 0">Items owed to you</h4>

  <div class="help-block" ng-show="osi.owed.length === 0">
    <i>No one currently owes you anything</i>
  </div>

  <div ng-repeat="record in osi.owed" class="panel panel-default">
    <div class="panel-body" ng-class="{'bg-warning': record.update}">
      <div class="row">
        <div class="col-sm-8 owed-item">
          <strong>{{record.name}}</strong>

          <div>{{record.email}}</div>
          <div>
            {{record.transactions.length}} items owed
          </div>
        </div>
        <div class="col-sm-4 text-right">
          <button ng-click="osi.remind(record.owerId)" type="button" class="btn btn-primary">
            Remind
          </button>
        </div>
      </div>
    </div>
    <table class="table">
      <tr ng-repeat="transaction in record.transactions">
        <td width="75px" style="vertical-align: middle">
          <span class="label label-success" ng-show="transaction.status === osi.transactionStatus.returned">
            Returned
          </span>
          <span class="label label-info" ng-show="transaction.status === osi.transactionStatus.active">
            Outstanding
          </span>
        </td>
        <td style="vertical-align: middle">
          <span>{{transaction.value}}</span>
        </td>
        <td class="text-right">
          <button type="button" ng-click="osi.confirm(record.id, transaction.id)" class="btn btn-sm btn-default">
            Returned
          </button>

        </td>
      </tr>
    </table>
  </div>

  <hr/>

  <h4 style="margin-top: 0">Items owed by you</h4>

  <div class="help-block" ng-show="osi.owe.length === 0">
    <i>You currently do not owe anything</i>
  </div>

  <div ng-repeat="record in osi.owe" class="panel panel-default">
    <div class="panel-body">
      <div class="owed-item">
        <strong>{{record.name}}</strong>

        <div>{{record.email}}</div>
        <div>
            {{record.transactions.length}} items owed
        </div>
      </div>
    </div>
    <table class="table">
      <tr ng-repeat="transaction in record.transactions">
        <td style="vertical-align: middle">{{transaction.value}}</td>
        <td class="text-right">
          <button type="button" ng-click="osi.returnItem(record.id, transaction.identifier)" class="btn btn-sm btn-default">Return</button>
        </td>
      </tr>
    </table>
  </div>

</div>
