<div ng-controller="OutstandingItemsCtrl as osi">

  <h2 style="margin-top: 0">Items owed to you</h2>

  <div class="help-block" ng-show="osi.owed.length === 0">
    <i>No one currently owes you anything</i>
  </div>

  <div class="gutter owed-item" ng-repeat="record in osi.owed">
    <div class="row">
      <div class="col-sm-8">
        <h4>
          {{record.name}}
          <small>({{record.transactions.length}} items)</small>
        </h4>
        <div>
          <small class="text-muted">
            <i> Last reminder: {{record.lastReminded ? (record.lastReminded | Moment: 'LL') : 'Never'}}</i>
          </small>
        </div>
      </div>
      <div class="col-sm-4 text-right">
        <button ng-click="osi.remind(record, record.owerId)" type="button" class="btn btn-primary btn-sm">
          Remind
        </button>
      </div>
    </div>

    <div class="panel panel-default gutter-sm">
      <table class="table table-condensed table-outstanding-items">
        <tr ng-repeat="transaction in record.transactions">
          <td style="width: 20px" class="text-center">
            <div yom-transaction-indicator="" data-status="{{transaction.status}}"></div>
          </td>
          <td>
            <input
              ng-blur="osi.updateTransaction(transaction)"
              yom-focus-on="transaction.showEdit"
              ng-show="transaction.showEdit"
              type="text"
              class="inline-text-input"
              ng-model="transaction.value"/>
            <span ng-show="!transaction.showEdit" class="item">{{transaction.value}}</span>
          </td>
          <td class="text-right">
            <a class="action-link" href=""
               ng-show="transaction.status !== osi.transactionStatus.completed && !transaction.showEdit"
               ng-click="osi.editTransaction(transaction)" title="Edit">
              <i class="glyphicon glyphicon-edit"></i>
            </a>
            <a class="action-link" href=""
               ng-show="transaction.status === osi.transactionStatus.completed"
               ng-click="osi.reactivate(transaction, transaction.id)" title="Reactivate">
              <i class="glyphicon glyphicon-repeat"></i>
            </a>
            <a class="action-link" href="" ng-click="osi.confirm(record.id, transaction.id)"
               title="Confirm Returned Item">
              <i class="glyphicon glyphicon-ok"></i>
            </a>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <hr/>

  <h2 style="margin-top: 0">Items owed by you</h2>

  <div class="help-block" ng-show="osi.owe.length === 0">
    <i>You currently do not owe anything</i>
  </div>

  <div class="gutter owed-item" ng-repeat="record in osi.owe">
    <div class="row">
      <div class="col-sm-12">
        <h4>
          {{record.name}}
          <small>({{record.transactions.length}} items)</small>
        </h4>
      </div>
    </div>

    <div class="panel panel-default gutter-sm">
      <table class="table table-condensed">
        <tr ng-repeat="transaction in record.transactions">
          <td width="75px" style="vertical-align: middle">
          <span class="label label-success" ng-show="transaction.status === osi.transactionStatus.returned">
            Returned
          </span>
          <span class="label label-info" ng-show="transaction.status === osi.transactionStatus.active">
            Outstanding
          </span>
          </td>
          <td style="vertical-align: middle">
            <span>{{transaction.value}}</span>
          </td>
          <td class="text-right">
            <button type="button" ng-click="osi.confirm(record.id, transaction.id)" class="btn btn-sm btn-default">
              Returned
            </button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
