<div ng-controller="OutstandingItemsCtrl as outstandingItem">

  <div ng-repeat="record in outstandingItem.owers" class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-8 owed-item">
          <h3>{{record.ower.name}}</h3>

          <div>{{record.ower.email}}</div>
          <div>
            <a href="" ng-click="record.expanded = !record.expanded">
              {{record.transactions.length}} items owed
            </a>
          </div>
        </div>
        <div class="col-sm-4 text-right">
          <button ng-click="outstandingItem.remind(record.ower.id)" type="button" class="btn btn-primary">Remind</button>
        </div>
      </div>
    </div>
    <table class="table" ng-show="record.expanded">
      <tr ng-repeat="transaction in record.transactions">
        <td style="vertical-align: middle">{{transaction.value}}</td>
        <td class="text-right">
          <button class="btn btn-sm btn-default">Confirm</button>
        </td>
      </tr>
    </table>
  </div>

</div>
