<div class="row" ng-controller="LoginCtrl as login">
  <div class="col-md-6 col-md-offset-3">
    <h4>Password Recovery</h4>

    <div ng-hide="login.state === login.states.forgotPasswordSuccess">
      <p>Please enter your email below to to reset your password.</p>

      <p class="alert alert-danger" ng-show="login.state === login.states.invalidEmail">
        The email you have entered is invalid
      </p>

      <form novalidate class="gutter" name="pr" ng-submit="login.forgotPassword(login.credentials.email)">
        <div class="form-group" ng-class="{'has-error': !pr.email.$pristine && pr.email.$invalid}">
          <input required type="text" class="form-control" placeholder="Email" name="email" ng-model="login.credentials.email"/>
          <span class="help-block" ng-show="!pr.email.$pristine && pr.email.$invalid">
            Email is required
          </span>
        </div>
        <div class="form-group text-right">
          <input type="submit" class="btn btn-primary" value="Reset Password"/>
        </div>
      </form>
    </div>

    <div ng-show="login.state === login.states.forgotPasswordSuccess">
      <p>Your email is on its way.</p>
    </div>

  </div>
</div>
