
<div class="row">
  <div class="col-md-8 col-sm-7 hidden-xs">
    <div class="jumbotron text-center">
      <h1>'Allo, 'Allo!</h1>

      <p class="lead">
        <img src="assets/images/yeoman.png" alt="I'm Yeoman"><br>
        Always a pleasure scaffolding your apps.
      </p>

      <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!</a></p>
    </div>
  </div>
  <div class="col-md-4 col-sm-5">
    <h4>Login</h4>
    <div ng-include="'app/authentication/views/login.html'"></div>
    <h4>Sign Up</h4>
    <div ng-include="'app/authentication/views/register.html'"></div>
  </div>
</div>
