<div class="row" ng-controller="LoginCtrl as login" ng-init="login.validateResetToken(login.resetPasswordGuid)">
  <div class="col-md-6 col-md-offset-3">
    <h4>Password Reset</h4>

    <div ng-show="login.state === login.states.invalidResetToken">
      <p>The link provided is invalid.</p>
    </div>

    <div ng-show="login.state === login.states.validResetToken">
      <p>Please enter your new password below.</p>

      <p class="alert alert-danger" ng-show="login.state === login.states.invalidEmail">
        The email you have entered is invalid
      </p>

      <form novalidate class="gutter" name="pr"
            ng-submit="login.resetPassword(login.resetPasswordGuid ,login.credentials.password)">
        <div class="form-group" ng-class="{'has-error': !pr.password.$pristine && pr.password.$invalid}">
          <input required type="password" class="form-control" placeholder="Password" name="password"
                 ng-model="login.credentials.password"/>
          <span class="help-block" ng-show="!pr.password.$pristine && pr.password.$invalid">
            Password is required
          </span>
        </div>
        <div class="form-group text-right">
          <input type="submit" class="btn btn-primary" value="Reset Password"/>
        </div>
      </form>
    </div>

    <div ng-show="login.state === login.states.resetPasswordSuccess">
      <p>Your password has been reset.</p>
    </div>

  </div>
</div>
