.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

.nav-heading{
  font-weight: 500;
  font-size: 2em;
}

.section-heading {
  font-weight: 500;
  font-size: 1.3em;
  margin: 10px 0;
}

.gutter {
  margin-top: 20px;
}

.gutter-sm {
  margin-top: 10px;
}

.gutter-lg {
  margin-top: 30px;
}

@media (min-width: 768px) {
  .container {
    max-width: 960px !important;
  }
}

.pointer {
  cursor: pointer;
}


/* Do not remove this comments bellow. It's the markers used by gulp-inject to inject
   all your sass files automatically */
// injector
// endinjector
