<div class="panel panel-default" ng-controller="LoginCtrl as login">
  <div class="panel-body">
    <form ng-submit="login.authenticate(login.credentials)" ng-hide="login.view==='signup'">
      <div class="form-group">
        <label>Email</label>
        <input tabindex="1" type="text" class="form-control" placeholder="Email" ng-model="login.credentials.email" required/>
      </div>
      <div class="form-group">
        <label>Password</label>
        <a ui-sref="home.forgot-password">
          <i><small>Forgot password?</small></i>
        </a>
        <input tabindex="2" type="password" class="form-control" placeholder="Email" ng-model="login.credentials.password" required/>
      </div>
      <div ng-show="login.state === login.states.loginError" class="form-group">
        <div class="alert alert-danger">
          {{login.error}}
        </div>
      </div>
      <div class="form-group text-right">
        <a href="" ng-click="login.view='signup'">Sign Up</a>
        <input type="submit" class="btn btn-primary" value="Login"/>
      </div>
    </form>

    <form name="registerForm" ng-submit="login.register(login.account)" ng-show="login.view==='signup'">
      <div class="form-group">
        <label>
          Name
          <span class="text-danger">*</span>
        </label>
        <input type="text" name="name" class="form-control" placeholder="Name" ng-model="login.account.name" required/>
      </div>
      <div class="form-group">
        <label>
          Email
          <span class="text-danger">*</span>
        </label>
        <input type="text" name="email" class="form-control" placeholder="Email" ng-model="login.account.email" required/>
      </div>
      <div class="form-group">
        <label>
          Password
          <span class="text-danger">*</span>
        </label>
        <input type="password" name="password" class="form-control" placeholder="Email" ng-model="login.account.password" required/>
      </div>

      <div ng-show="login.state === login.states.registerError" class="form-group">
        <div class="alert alert-danger">
          {{login.error}}
        </div>
      </div>

      <div class="form-group text-right">
        <a href="" ng-click="login.view='login'">Login</a>
        <input type="submit" class="btn btn-primary" value="Sign Up"/>
      </div>
    </form>
  </div>
</div>
